.breedLink {
  display: inline-block;
  margin: 12px 0;
  margin-right: 15px;
  padding: 4px 12px;
  border: 1px solid #626262;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  line-height: 16px;
  color: inherit;
  letter-spacing: 0.01em;
  transition: all 0.4s;
}

.breedLink:hover {
  color: #3c59f0;
  border: 1px solid #3c59f0;
}
