.container {
    position: relative;
    margin:0 10px;
    margin-bottom: 30px;
    width: 367px;
    height: 290px;
}

.dogImg {
    height:100%;
}

.favoriteIcon {
    width: 30px;
    height: 30px;
    position: absolute;
    top:25px;
    left:25px;
    cursor: pointer;
}

.breedName {
    position: absolute;
    color: #ffffff;
    bottom:10px;
    right:10px;
  }