.container {
  position: relative;
  width: 367px;
  height: 290px;
  margin: 0 10px;
  margin-bottom: 30px;
}

.dogImg {
  width: 367px;
  height: 290px;
}

.favoriteIcon {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.breedName {
  position: absolute;
  color: #ffffff;
  bottom: 10px;
  right: 10px;
}
