.container {
  width: 1200px;
  margin: 0 auto;
  padding: 50px 20px;
}

.expansionPanelWrapper {
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.desc  {
  position: relative;
  display: inline-block;
  padding-right: 15px;
  margin-bottom: 34px;
  color: #ffffff;
  border-bottom: 0.5px dashed #ffffff;
  cursor: pointer;
}

.arrow {
  position: absolute;
  display: inline-block;
  padding: 3px;
  top: 10px;
  right: 2px;
  border: solid #ffffff;
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
  transition: transform 0.4s ease-in-out;
  cursor: pointer;
}

.arrowActive {
  top: 12px;
  transform: rotate(-135deg);
}
